{% extends "base.jinja" %}
{% block content %}

<div class="docs-section center">
  <h4>Attendance</h6>
  <a class="button" href="{{ prev_month_url }}"><</a>
  <a class="button" href="{{ next_month_url }}">></a>
  {{ calendar }}
</div>

{% if class_time %}
<div class="docs-section">
  <h6 class="docs-header">Attendees for Class {{ class_time }}</h6>
  <table class="u-full-width">
    <tr>
      <th>Name</th>
    </tr>
    {% for user in attendance_sheet %}
      <tr>
        <td>{{ user }}</td>
      <tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}
