{% extends "base.jinja" %}
{% block content %}
<div class="docs-section center">
Our application will service two kinds of users: coaches and athletes. Coaches will view and edit a calendar feature that enables them to coordinate and schedule classes. They will enter client attendance for classes into an attendance feature, which will provide a dashboard view of attendance data. Athletes will be able to store and retrieve their performance data for workouts. Finally, the application will present the “Most Liberated” leaderboard for viewing by athletes and editing by coaches.
</div>

{% endblock %}
