{% extends "base.jinja" %}
{% block content %}

<div class="docs-section">
  <h6 class="docs-header">Add a User</h6>
  <form action="/add_user" method="POST">
    <div class="row">
      <div class="six columns">
        <label for="first_name">First Name:</label>
        <input class="u-full-width" type="text" id="first_name" name="first_name" />
      </div>
      <div class="six columns">
        <label for="last_name">Last Name:</label>
        <input class="u-full-width" type="text" id="last_name" name="last_name" />
      </div>
    </div>
    <label for="email_addr">E-mail:</label>
    <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email_addr" name="email_addr" />
    <div class="row">
      <div class="six columns">
        <label for="user_level">Level</label>
        <select class="u-full-width" name="user_level" id="user_level">
          <option value="1" selected>1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="six columns">
        <label for="gender">Gender</label>
        <select class="u-full-width" name="gender" id="gender">
          <option value="f" selected>Female</option>
          <option value="m">Male</option>
        </select>
      </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</div>

<div class="docs-section">
  <h6 class="docs-header">Users</h6>
  <table class="u-full-width">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Gender</th>
      <th>Level</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user['name'] }}</td>
        <td>{{ user['email'] }}</td>
        <td>{{ user['gender'] }}</td>
        <td>{{ user['level'] }}</td>
      <tr>
    {% endfor %}
  </table>
</div>



{% endblock %}
